

@mixin devicePixelSupport($resolution, $ratio, $breakpoint){

  @media (min-width: $resolution) and (min--moz-device-pixel-ratio: $ratio),
  (min-width: $resolution) and (-o-min-device-pixel-ratio: $ratio),
  (min-width: $resolution) and (-webkit-min-device-pixel-ratio: $ratio),
  (min-width: $resolution) and (min-device-pixel-ratio: $ratio),
  (min-width: $resolution) and (min-resolution: $ratio * 96dpi)  {

    &:after {
      content: $breakpoint;
      display: none;
    }
  }

}

body {

  padding: 0; margin: 0;

  @include devicePixelSupport(300px, 1, 'w360');
  @include devicePixelSupport(320px, 2, 'w768');
  @include devicePixelSupport(320px, 3, 'w960');
  @include devicePixelSupport(480px, 1, 'w768');
  @include devicePixelSupport(480px, 2, 'w960');
  @include devicePixelSupport(768px, 1, 'w1280');
  @include devicePixelSupport(768px, 2, 'w768@2x');
  @include devicePixelSupport(1280px, 1, 'w1920');
  @include devicePixelSupport(1280px, 2, 'w1280@2x');
  @include devicePixelSupport(1921px, 1, 'w2560');
  @include devicePixelSupport(2560px, 1, 'w3840');

}

.progressive__item {

  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat:no-repeat;

}